/* default.css for all files in Chapter 06 */

main {
  background-color: #FFB;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px #000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.Narrow { width: 620px; }

.BMI { width: 650px; }

.Feedback { width: 450px; }

.FormTest { width: 660px; }

.Centered { text-align: center; }

.RightAligned { text-align: right; }

select, input, textarea { background-color: #EEE; }